@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.basic-formatting{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: left;
}
.img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.logo{
	margin-left: 0px;
	height: 45px;
	width: 45px;
}

p {
	color: #ffffff;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: #ffffff;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color:#3c6622ff;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px #3c6622ff;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color:#3c6622ff;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color:#3c6622ff;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .sections {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .sec-list ul {
	list-style: none;
	position: absolute;
	background-color:#3c6622ff;
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .sec-list ul.active {
	left: 0%;
}
#header .sec-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .sec-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;

}
#header .sec-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .sec-list ul li:hover a {
	color:#3c6622ff;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* home Section */
#logo_2{
	opacity: 0;
	width: 26.5px;
	height: 106px;
	margin-left: -6px;
}
#home {
	background-image: url("/Users/yuvi/Desktop/computer practicals/background.png");
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#home::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#home .home {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#home h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}

#home h1:nth-child(2) {
	margin-top: 30px;
	font-size: 450%;
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 2s;
}
#home h1:nth-child(3) {
	animation-delay: 3s;
}

#home h1:nth-child(4){
	animation: text_reveal_name2 0.5s ease forwards;
	animation-delay: 4s;
}

#green{
	color: #3c6622ff;
}

#home h1 img{
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: image_reveal 0.5s ease forwards;
	animation-delay: 1s;
}

#home h1:nth-child(1) img{
	animation-delay: 1s;
}

#home h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color:#3c6622ff;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#home h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#home h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#home h1:nth-child(3) span {
	animation-delay: 2.5s;
}
#home h1:nth-child(4) span{
	animation-delay: 3.5s;
}

/* End home Section */

/* about_bio Section */

#about_bio .about_bio {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px ;
}
#about_bio .about_bio-head h1{
	max-width: 1000px;
	text-align: center;
}
#about_bio .about_bio-head p{
	max-width: 600px;
	text-align: center;
	margin-left: 70px;
	margin-top: 25px;
}
#about_bio .about_bio-bottom {
	display: flex;
	align-items: left;
	justify-content: left;
	flex-wrap: wrap;
	margin-top: 50px;
}
#about_bio .about_bio-item {
	min-width: 500px;
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: left;
	flex-direction: column;
	padding: 30px;
	border-radius: 50px;
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#about_bio .about_bio-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #6b6b6b 0%, #5b5b5b 100%);
	opacity: 0.9;
	z-index: -1;
}
#about_bio .about_bio-bottom .icon {
	height: 120px;
	width: 100px;
	margin-bottom: 20px;
}
#about_bio .about_bio-item h2 {
	font-size: 2rem;
	text-align: right;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#about_bio .about_bio-item p {
	color: white;
	text-align: center;
}
/* End about_bio Section */

/* section3 section */
.guests{
	font-size: 15px;
}

.guests_heading{
	font-size: 40px;
}

#section3 .section3 {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#section3 .section3-header h1 {
	margin-bottom: 50px;
}
#section3 .all-section3 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#section3 .section3-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#section3 .section3-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#section3 .section3-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#section3 .section3-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#section3 .section3-info p {
	color: white;
}
#section3 .section3-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#section3 .section3-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;

	opacity: 0.7;
}
#section3 .section3-img img {
	transition: 0.3s ease transform;
}
#section3 .section3-item:hover .section3-img img {
	transform: scale(1.1);
}
/* End section3 section */

/* section4 Section */
#section4 .section4 {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#section4 .col-left {
	width: 250px;
	height: 360px;
}
#section4 .col-right {
	width: 100%;
}
#section4 .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#section4 .col-right h3 {
	font-size: 1.6rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#section4 .col-right p {
	margin-bottom: 20px;
}
#section4 .col-right .cta {
	color: #ffffff;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#section4 .col-left .section4-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#section4 .col-left .section4-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px #3c6622ff;
	z-index: -1;
}
/* End section4 Section */

/* section5 Section */
#section5 .section5 {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#section5 .section5-items {
	width: 100%;
}
#section5 .section5-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#section5 .section5-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#section5 .icon {
	height: 120px;
	width: 100px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#section5 .section5-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#section5 .section5-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End section5 Section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: #3c6622ff;
		font-weight: 500;
	}
}

@keyframes image_reveal{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes text_reveal_name {
	100% {
		color: #ffffff;
		font-weight: 500;
	}
}

@keyframes text_reveal_name2 {
	100% {
		color: #ffffff;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* home */
	#home h1 {
		font-size: 7rem;
	}
	/* End home */

	/* about_bio Section */
	#about_bio .about_bio-bottom .about_bio-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End about_bio Section */

	/* section3 */
	#section3 .section3-item {
		flex-direction: row;
	}
	#section3 .section3-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#section3 .section3-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#section3 .all-section3 .section3-info {
		height: 100%;
	}
	#section3 .all-section3 .section3-img {
		height: 100%;
	}
	/* End section3 */

	/* section4 */
	#section4 .section4 {
		flex-direction: row;
	}
	#section4 .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#section4 .section4 .col-left .section4-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px #3c6622ff;
	}
	#section4 .col-right {
		text-align: left;
		padding: 30px;
	}
	#section4 .col-right h1 {
		text-align: left;
	}
	/* End section4 */

	/* section5  */
	#section5 .section5 {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#section5 .section5-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#section5 .section5-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#section5 .section5-item .icon {
		height: 100px;
		width: 100px;
	}
	#section5 .section5-item .icon img {
		object-fit: contain;
	}
	#section5 .section5-item .section5-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	
}



@media only screen and (min-width: 1200px) {
	
	#header .hamburger {
		display: none;
	}
	#header .sec-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .sec-list ul li {
		display: inline-block;
	}
	#header .sec-list ul li a {
		font-size: 1.8rem;
	}
	#header .sec-list ul a:after {
		display: none;
	}


	#about_bio .about_bio-bottom .about_bio-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}